// Variables
$gutter: 0%;
$font-sizes: 50;
$breakpoints: 480 768 992 1200;
$margins-paddings: 5 10 15 20 25 30 35 40 45 50 auto;
$colors-name: purple-50 purple-100 purple-200 purple-300 purple-400 purple-500 purple-600 purple-700 purple-800 purple-900
  purple-A100 purple-A200 purple-A400 purple-A700;
$colors: #F3E5F5 #E1BEE7 #CE93D8 #BA68C8 #AB47BC #9C27B0 #8E24AA #7B1FA2 #6A1B9A #4A148C #EA80FC #E040FB #D500F9 #AA00FF;
